.grid {
    height: auto;
    padding: 0px !important;

    &-6 {
        padding: 0px !important;

        .promo-photo {
            img {
                width: 100%;
            }

            @media (min-width: 600px) {
                height: calc(100% / 5 * 3);
                display: flex;

                img {
                    height: 100%;
                }
            }
        }

        .cards {
            @media (min-width: 600px) {
                display: inline-flex;
            }

            height: calc(100% / 5 * 2);

            &__left {
                width: calc(100% / 3 * 2);
            }

            &__right {
                width: calc(100% / 3);
                height: auto;

                &--top,
                &--bottom {
                    height: 50%;
                }

                .homeSmallCard {
                    min-height: 6em;
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    &.blue--light {
                        background-color: $color-blue-light;
                    }

                    &.blue--dark {
                        background-color: $color-blue-dark;
                    }

                    .icon {
                        &__wrapper {
                            height: 100%;
                            display: flex;
                            align-items: center;

                            img {
                                width: 100%;
                                padding-left: 1em;
                                padding-right: 0.5em;
                            }
                        }
                    }

                    .infos {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 0.5em;
                        margin-right: 0.5em;

                        &__title {
                            @media (min-width: 600px) {
                                font-size: 1.1vw;
                            }

                            @media (max-width: 599px) {
                                font-size: 3vw;
                            }
                        }

                        &__body {
                            @media (min-width: 600px) {
                                font-size: 0.8vw;
                            }

                            @media (max-width: 599px) {
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

.border {
    border: 0.01px solid $color-grey;
}

table.border {
    height: 100%;
    margin: 0px !important;
}

.border tr td {
    border: 1px solid $color-grey;
}
