.home {
    height: 100%;
}

.promo-photo__text {
    @media (min-width: 600px) {
        font-size: 2vw;
        align-self: center;
    }

    @media (max-width: 599px) {
        font-size: 4vw;
        margin-top: 18.5%;
    }

    float: right;
    width: 50%;
    position: absolute;
    right: -3%;
    color: white;
}

.news {
    &__top {
        font-weight: bold;
    }

    &__body {
        font-size: 0.8em;
        color: $color-dark-grey;
    }
}
