.home {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
}

.promo-img {
    display: inherit;
}

.cards {
    &__left {
        width: calc(100% / 3 * 2);
        height: 100%;
    }

    &__right {
        width: calc(100% / 3);
        height: 100%;

        &--top,
        &--bottom {
            height: 50%;
        }
        .homeSmallCard {
            height: 100%;
            display: flex;
            flex-direction: row;

            &.blue--light {
                background-color: $color-blue-light;
            }

            &.blue--dark {
                background-color: $color-blue-dark;
            }

            .icon {
                width: 40%;

                img {
                    width: 100%;
                }
            }

            .infos {
                width: 60%;
            }
        }
    }
}