.home {
  height: 100%;
}

.promo-photo__text {
  @media (min-width: 800px) {
    font-size: 1.3vw;
    align-self: center;
  }

  @media (max-width: 799px) {
    font-size: 3vw;
    align-self: center;
  }

  padding-left: 10%;
  color: white;
}

.news {
  &__top {
    font-weight: bold;
  }

  &__body {
    font-size: 0.8em;
    color: $color-dark-grey;
  }
}
