@import 'settings/variables';
@import './home';
@import './navbar';
@import './grid';

@media (max-width: 600px){
    .grid {
        display: none;
    }
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.slash {
    color: $color-grey;
}

.collapsible-body {
    padding: 0px !important;
}

.event-logo {
    width: 2em;
    height: auto;
    vertical-align: middle;
}
