@import 'settings/variables';
@import './home';
@import './navbar';
@import './grid';

@media (max-width: 600px){
    .grid {
        display: none;
    }
}

body {
    font-family: $main-font;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.slash {
    color: $color-grey;
}

.ocw-light-blue {
    color: $color-blue-light;
}

.ocw-dark-blue {
    color: $color-blue-dark;
}

.collapsible-body {
    padding: 0px !important;
}

.event-logo {
    width: 2em;
    height: auto;
    vertical-align: middle;
}
